<!DOCTYPE html>
<html>

<head>
  <title>RailsTdd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>

  <div class="container-fluid">

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Rails TDD", root_path, { :class=>"navbar-brand" } %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'New Achievement', new_achievement_path %></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice]%></div>
    <% end %>

    <%= yield %>

  </div>

</body>

</html>
